<template>
  <div class="crypto">
    <h2 class="h2">Realtime App that display updates on crypto</h2>
    <h3 class="h3">Bitcoin, Chainlink, Ethereum, Litecoin, PAX Gold</h3>
    <div class="crypto-head">
      <p class="crypto__text">Pair</p>
      <p class="crypto__text">Bid</p>
      <p class="crypto__text">Ask</p>
    </div>
    <div class="crypto-list">
      <div class="crypto-item" v-for="(coin, index) in coins" :key="index">
        <p class="crypto__text">{{ index }}</p>
        <p class="crypto__text">{{ coin.b[0] }}</p>
        <p class="crypto__text">{{ coin.a[0] }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'coins',
  data () {
    return {
      coins: []
    }
  },
  created () {
    this.fetchCoins()
  },
  mounted () {
    setInterval(() => {
      this.fetchCoins()
      console.log('Data updated!')
    }, 15000)
  },
  methods: {
    fetchCoins () {
      axios.get('https://api.kraken.com/0/public/Ticker?pair=XBTUSD,LINKUSD,ETHUSD,LTCUSD,PAXGUSD')
        .then((response) => {
          this.coins = response.data.result
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}

.crypto {
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  max-width: 1440px;
  width: 100%;
}

.crypto-head,
.crypto-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.crypto__text {
  margin: 0;
  padding: 10px;
  flex: 1 0 33%;
  text-align: left;
  border: 1px solid #000;
}

.crypto-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
</style>
